
@font-face {
    font-family: 'Punch';
    src: url('fonts/Punch-6YyZg.otf') format('woff2'),
    url('fonts/Punch-6YyZg.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #015daa;
    color: #015daa;
    padding-top: 0%;
}

header {
    background-color: #015daa;
    padding: 0;
    margin: 0;
/*     text-align: center;
    font-family: "Alfa Slab One", serif;
    font-weight: normal; */
    
    /* display:flex; */
    /* justify-content:center; */
    /* align-items:center;  */
    align-items:start;
    height:320px;

    display:grid;
    /* grid-template-columns: 180px 1fr 180px; */
    grid-template-columns: 1fr 360px;

    /* border: 3px solid red; */
}


/* header h1 {
    / * Ocultar visualmente pero accesible * /
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
} */

h1{
    padding-top: 0;
    margin-top: 0;
    background:url(images/estadio.webp) center/cover;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    
    font-family:Punch;
    font-size:12rem;
    /* font-size: min(18vw, 28vh); */
    font-weight:normal;
    text-align:center;
    line-height:0.75;
    -webkit-text-stroke:2px #fbaf35;
    justify-content: center;

    width: fit-content;
    justify-self: center;

    /* border: 3px solid yellow; */
}

#palco{
    font-size:10rem;
    letter-spacing:0em;
}

#num{
    font-size:12rem;
    letter-spacing:0em;
}

.mainlogo {
    height: 100px;
    width: auto;
}

.logos {
    /* display: flex; */
    /* display: inline; */
    /* justify-content: center; */
    align-items: center;
    /* gap: 12px; */
    /* margin-bottom: 1rem; */
    /* float:right; */
    padding:0;
    margin: 0;
    
    display:flex;
    flex-direction:column;
    gap:5px;

    /* border: 3px solid lime; */
}

.logos img{
    display:block;
    height: 75px;
}

.derecha{
    justify-self:end;
}
/* 
.izquierda{
    justify-self:start;
} */

nav {
    background-color: #fbaf35;
    padding: 0.3rem;
    text-align: center;
    font-family: "Alfa Slab One", serif;
    font-weight: normal;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a {
    padding-left: 1rem;
    text-decoration-line: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

/* #calendar {
            display: none;
        } */

#calendar img {
    height: 450px;
}

.link-card {
    background-color: #5a5a90;
    border: 3px solid #e7e700;
    border-radius: 12px;
    padding: 1rem;
    width: 300px;
    box-sizing: border-box;
    transition: transform 0.2s;
}

.link-card:hover {
    transform: scale(1.05);
    background-color: #c98600;
}

.link-card a {
    color: #fbaf35;
    font-size: 1.2rem;
    text-decoration: none;
    word-break: break-all;
}

.description {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #e7e700;
}